<?xml version="1.0" encoding="utf-8"?>
<manifest package="barqsoft.footballscores"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FootballScoresMaterial">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".ScoresProvider"
            android:authorities="barqsoft.footballscores"/>

        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="barqsoft.footballscores.MainActivity"/>
        </activity>
        <service android:name=".service.myFetchService"/>


        <receiver
            android:name=".widget.StackMatchesWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Latest Matches">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stack_matches_widget"/>
        </receiver>

        <receiver
            android:name=".widget.LatestMatchWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Latest Match">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/latest_match_widget"/>
        </receiver>


        <service
            android:name=".widget.StackWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>
